
/* Flex settings */
.FollowersList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.FollowersList>* {
  width: 32%;
}

@media only screen and (min-width: 768px){
  .FollowersList>* {
    width: 24%;
  }
}